/* PALETA DE COLORES */
$colorBackground: #fff5ee;
$colorPrincipal: #F58700;
$colorPrincipalStrong:#e97100;
$colorSecundario: #ffab45;
$colorContenedores: #ffab4566;
$colorContenedoresSecciones: #f5f5f5;
$colorContenedorForm: #f5f5f5ab;
$colorH: #ffe4c4;
$colorFontHover: #3d1b12;
$colorFontActive: #f8bc72;

/* FUENTES */ 
$fontPrincipal: "Barlow Condensed", sans-serif;

/* SHADOW BOX */ 
$shadowSoft: 0px 0px 10px rgba(2, 1, 1, 0.1); 
$shadowMed: 0px 3px 10px rgba(71, 54, 54, 0.3);
$shadowButton: 0px 2px 15px rgba(1, 1, 1, 0.5);




/* Back up de colores; */ 
/* $colorBackground: #faebd7 */
